<nav class="navbar navbar-dark bg-blue">
  <a href=""><img alt="quiz 2 logo" src="../../assets/quiz2_logo.png" height="85"> Eclipse Data for my Lifetime...</a>
  <!-- <input type="search" aria-label="Search for keywords searchbar" style="width: auto;"
      placeholder="Search for keywords" class="form-control"> -->
  <button type="button" class="btn bg-golden btn-lg" data-toggle="modal" data-target="#exampleModal">Recommendations</button>

</nav>
<!-- <app-home></app-home> -->


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Recommendations:
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/recommendation">

        <div class="modal-body">
          <p> Please feel free to suggest the best place to watch the upcoming eclipse, best places to stay, and any other fun activities at these location. Thanks! </p>
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required>
          <br>
          <label for="emailAddress">Email address:</label>
          <input type="email" class="form-control" id="emailAddress" name="email" placeholder="Enter email" required>
          <br>
          <label for="reclocation">Recommended Location:</label>
          <input type="text" class="form-control" id="reclocation" name="location" placeholder="Enter Location" required>
          <br>
          <label for="recommendation">Recommended Activities:</label>
          <textarea class="form-control" rows="5" id="recommendations" name="recommendation"
            placeholder="Please enter your suggestions here."></textarea>
          <br>
          <a href="/view-recommendation">View Recommendation</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn bg-gray" data-dismiss="modal">Close</button>
          <input class="btn bg-blue" type="submit" value="Submit">
        </div>
      </form>

    </div>
  </div>
</div>

<!-- <div style="text-align:center">
  <h1>
    Welcome to our Image Gallery!
  </h1>
  <button (click)="getData()">Fetch Data</button>
 </div>
 <div class="gallery" *ngFor="let image of data">
  <a target="_blank" [href]="image.href">
  <img [src]="image.thumbnailUrl" width="300" height="200">
  </a>
  <div class="desc">{{image.name}}</div>
 </div> -->
<router-outlet></router-outlet>