a{
    text-decoration: none;
    color: #f0b566;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;

}
a:hover{
    text-decoration: none;
    color: #5c9fc4;
    font-weight: bolder;
}
img{
    margin: 2px;
    margin-right: 5px;
}